@charset "UTF-8";
/*   快速查找索引(字母顺序):
 *
 *      background       ----   背景图片
 *      opacity          ----   透明度
 *      text-ellipsis    ----   单行文本超出自动省略
 *
 *
 *
*/
/*
 * background-size的默认值是100% 100% ,background-position的默认值是 0 0 ;
 * ====!!!---图片路径参数 切记要用单引号---!!!====

 * 此处可以传参数的个数为:
 *     1个参数: 即只用传 图片路径,其他默认
 *                  eg: @include background('images/logo.png')
 *
 *     2个参数: 即只用传 图片路径, size值为cover或者contain
 *                  eg: @include background('images/logo.png',cover)
 *
 *     3个参数: 即只用传 图片路径, size宽高值为 两个数值或百分比
 *                  eg: @include background('images/logo.png',40px,40px)
 *
 *     4个参数: 即只用传 图片路径, size宽高值为 两个数值或百分比, position只传水平位置(X轴)的值
 *                  eg: @include background('images/logo.png',40px,40px,center)
 *
 *     5个参数: eg: @include background('images/logo.png',40px,40px,center,top)
 *
 */
/*
 *     支持单个参数,数值在 0-1 之间;
*/
/*
 *     支持参数,宽度的百分比值,默认100%;
*/
.publish {
  margin-top: .48rem;
  width: 100%;
  background: url("./app/home/banner/images/bidbg3.jpg") center top no-repeat;
  background-size: auto 4rem;
  color: #4785F9;
  height: 4rem;
  display: block;
  text-align: center; }

.publish .pTitle {
  height: .99rem;
  width: 1.725rem;
  font-size: .41rem;
  margin: 0 0 .25rem 0;
  width: 100%;
  text-align: center;
  line-height: .41rem;
  background: url("./app/home/banner/images/logo1.png") no-repeat center 0.58rem;
  background-size: 1.725rem .41rem; }

.publish .pContent {
  width: 100%;
  text-align: center;
  font-size: .42rem;
  margin: 0 auto;
  line-height: .24rem;
  color: #fff;
  padding-top: 0.51rem; }

.publish .pcompany {
  margin: 0;
  font-size: 0.14rem;
  color: #fff;
  padding-top: .22rem; }

.publish .pbusiness {
  width: 100%;
  margin-top: 0.53rem; }

.publish .pbusiness .pb-area {
  width: 1.3rem;
  height: 0.7rem;
  display: inline-block;
  margin: 0 0.1rem;
  position: relative; }

.publish .pbusiness .pb-area .pb-col {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #2d4d87;
  border: 1px solid #a3c2fc;
  opacity: 0.5;
  top: 0;
  left: 0;
  border-radius: 2px; }

.publish .pbusiness .pb-area cite {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-style: normal; }

.publish .pbusiness .pb-area span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.12rem;
  color: #fff;
  padding-top: 0.13rem; }

.publish .pbusiness .pb-area em {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.24rem;
  font-style: normal;
  line-height: 0.24rem;
  margin-top: 0.03rem; }

.publish .icon-go {
  font-size: 0.14rem;
  vertical-align: -1px;
  margin-left: 0.08rem; }

.publish .pFCount {
  font-size: 0.24rem; }

.publish .pFujin {
  width: 1.66rem;
  margin: 0 auto;
  line-height: 0.22rem;
  font-size: 0.14rem;
  color: #fff;
  padding-top: 0.25rem; }

.publish .pBtn {
  width: 1.8rem;
  margin: .79rem auto 0 auto;
  text-align: center;
  position: relative; }

.btn-bao {
  position: absolute;
  padding: 0.07rem 0.16rem;
  background-color: #fff;
  color: #78aaff;
  top: -0.42rem;
  left: 0.30rem;
  font-size: 0.12rem;
  border-radius: 20px; }

.btn-bao:before {
  content: "";
  width: 0.26rem;
  height: 0.125rem;
  background-color: #fff;
  float: left;
  position: absolute;
  bottom: -0.08rem;
  left: 18%;
  margin-left: -0.06rem;
  background: url("./app/home/banner/images/down-horn2.png") no-repeat;
  background-size: cover; }

.upMore, .downMore {
  width: 100%;
  height: .7rem;
  background: url("./app/home/banner/images/loading.gif") no-repeat center;
  background-size: .6rem .1rem; }

#first {
  padding-bottom: .49rem; }

.plane {
  padding-right: .08rem; }

.hasNew {
  width: 2.55rem;
  height: .33rem;
  background: #4785F9;
  color: #fff;
  font-size: .15rem;
  text-align: center;
  z-index: 1;
  border-radius: .2rem;
  line-height: .33rem;
  margin: 0.2rem auto; }

/*以下代码是招标大厅的动画交互，故意放在大括号外面，否则不生效，高悦*/
@keyframes tenderFade {
  0% {
    -webkit-transform: translate3d(0, -0.1rem, 0);
    -o-transform: translate3d(0, -0.1rem, 0);
    -ms-transform: translate3d(0, -0.1rem, 0);
    transform: translate3d(0, -0.1rem, 0); }
  100% {
    -webkit-transform: 0;
    -o-transform: 0;
    -ms-transform: 0;
    transform: 0; } }

@keyframes tenderFade2 {
  0% {
    -webkit-transform: translate3d(0, -0.1rem, 0);
    -o-transform: translate3d(0, -0.1rem, 0);
    -ms-transform: translate3d(0, -0.1rem, 0);
    transform: translate3d(0, -0.1rem, 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: 0;
    -o-transform: 0;
    -ms-transform: 0;
    transform: 0;
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100); } }

@keyframes tenderFade3 {
  0% {
    -webkit-transform: 0;
    -o-transform: 0;
    -ms-transform: 0;
    transform: 0;
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    -webkit-transform: translate3d(0, -0.1rem, 0);
    -o-transform: translate3d(0, -0.1rem, 0);
    -ms-transform: translate3d(0, -0.1rem, 0);
    transform: translate3d(0, -0.1rem, 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0); } }

.pubshadow {
  -webkit-animation-name: tenderFade2;
  animation-name: tenderFade2;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-delay: 0s;
  -webkit-animation-delay: 0s; }

.pubAnimation {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  transform: translate3d(0, 0, 0); }

.pubAnimation2 {
  -webkit-animation-name: tenderFade3;
  animation-name: tenderFade3;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  transform: translate3d(0, 0, 0); }
