#tetris {
    .pane, .pre-pane {
        display: inline-block;
        border: 1px solid black;

        .row {
            .cell {
                display: inline-block;
                width: 30px;
                height: 30px;
                background-color: green;
                color: green;
                border: 1px solid black;
                visibility: hidden; 

                &.light {
                    visibility: visible; 
                }
            }
        }
    }

    .op-area {
        display: inline-block;

        .pre-pane {
            display: block;
            margin-bottom: 10px;
        }
    }
    button {
        width: 70px;
        height: 40px;
        font-size: 15px;
    }
}
