
/* 1. var */

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
	font: 100% $font-stack;
	color: $primary-color;
}

p {
	color: red;
}

/* nesting */

div {
	i {
		display: none;
	}

	div {
		color: green;

		h1 {
			font-size: 34px;
		}
	}
}

/* partials */


