
//
// Convention:
//
// v:   vertical
// h:   horizontal
// bg:  background
// bdr: border
// clr: color
// rds: radius
// btm: bottom
// mrg: margin
// pad: padding
//
//


@mixin mx-bg-clr($clr) {
  background-color: $clr;
}

@mixin mx-bdr($color, $px: 1px) {
  border: $px solid $color;
}

@mixin mx-v-bdr($color, $px: 1px) {
  border-top: $px solid $color;
  border-bottom: $px solid $color;
}
@mixin mx-top-bdr($color, $px: 1px) {
  border-top: $px solid $color;
}
@mixin mx-btm-bdr($color, $px: 1px) {
  border-bottom: $px solid $color;
}

@mixin mx-rds($px) {
  border-radius: $px;
}

@mixin mx-v-mrg($px) {
  @include mx-v-mrg2($px, $px);
}
@mixin mx-v-mrg2($px, $py) {
  margin-top: $px;
  margin-bottom: $py;
}

@mixin mx-h-mrg($px) {
  @include mx-h-mrg2($px, $px);
}
@mixin mx-h-mrg2($px, $py) {
  margin-left: $px;
  margin-right: $py;
}

@mixin mx-v-pad($px) {
  @include mx-v-pad2($px, $px);
}
@mixin mx-v-pad2($px, $py) {
  padding-top: $px;
  padding-bottom: $py;
}

@mixin mx-h-pad($px) {
  @include mx-h-pad2($px, $px);
}
@mixin mx-h-pad2($px, $py) {
  padding-left: $px;
  padding-right: $py;
}

