
@mixin mx-border($color, $px: 1px) {
  border: $px solid $color;
}

@mixin mx-border-top($color, $px: 1px) {
  border-top: $px solid $color;
}
@mixin mx-border-bottom($color, $px: 1px) {
  border-bottom: $px solid $color;
}

@mixin mx-radius($px) {
  border-radius: $px;
}
