
//
// Convention:
//
// v:   vertical
// h:   horizontal
// l:   left
// r:   right
// bg:  background
// bdr: border
// clr: color
// rds: radius
// btm: bottom
// mrg: margin
// pad: padding
//
//

@mixin mx-inl-blk() {
  display: inline-block;
}

//
// color --------------
//

@mixin mx-clr($clr) {
  color: $clr;
}
@mixin mx-bg-clr($clr) {
  background-color: $clr;
}

//
// border -------------
//

@mixin mx-bdr($color, $px: 1px) {
  border: $px solid $color;
}

@mixin mx-l-bdr($color, $px: 1px) {
  border-left: $px solid $color;
}
@mixin mx-r-bdr($color, $px: 1px) {
  border-right: $px solid $color;
}
@mixin mx-top-bdr($color, $px: 1px) {
  border-top: $px solid $color;
}
@mixin mx-btm-bdr($color, $px: 1px) {
  border-bottom: $px solid $color;
}
@mixin mx-h-bdr($color, $px: 1px) {
  border-left: $px solid $color;
  border-right: $px solid $color;
}
@mixin mx-v-bdr($color, $px: 1px) {
  border-top: $px solid $color;
  border-bottom: $px solid $color;
}

//
// border-radius -----------
//
@mixin mx-rds($px) {
  border-radius: $px;
}

//
// margin ----------------
//
@mixin mx-mrg($px) {
  margin: $px;
}
@mixin mx-l-mrg($px) {
  margin-left: $px;
}
@mixin mx-r-mrg($px) {
  margin-right: $px;
}
@mixin mx-top-mrg($px) {
  margin-top: $px;
}
@mixin mx-btm-mrg($px) {
  margin-bottom: $px;
}

@mixin mx-h-mrg($px) {
  @include mx-h-mrg2($px, $px);
}
@mixin mx-h-mrg2($px, $py) {
  margin-left: $px;
  margin-right: $py;
}
@mixin mx-v-mrg($px) {
  @include mx-v-mrg2($px, $px);
}
@mixin mx-v-mrg2($px, $py) {
  margin-top: $px;
  margin-bottom: $py;
}

//
// padding --------------
//
@mixin mx-pad($px) {
  padding: $px;
}
@mixin mx-l-pad($px) {
  padding-left: $px;
}
@mixin mx-r-pad($px) {
  padding-right: $px;
}
@mixin mx-top-pad($px) {
  padding-top: $px;
}
@mixin mx-btm-pad($px) {
  padding-bottom: $px;
}

@mixin mx-h-pad($px) {
  @include mx-h-pad2($px, $px);
}
@mixin mx-h-pad2($px, $py) {
  padding-left: $px;
  padding-right: $py;
}
@mixin mx-v-pad($px) {
  @include mx-v-pad2($px, $px);
}
@mixin mx-v-pad2($px, $py) {
  padding-top: $px;
  padding-bottom: $py;
}


