#freelancer {
  $main_color: #18BC9C;
  
  $lgt_clr: #fff;
  $drk_clr: #233140;

  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;

  .navbar {
    background-color: $drk_clr;
  }

  .navbar-brand {
    color: $lgt_clr;
    font-size: 28px;
    font-weight: 500;
  }

  .navbar-nav {
    color: $lgt_clr;
  }

  // a tag will not inherit its parent's color attribute out-of-the-box
  a {
    color: inherit;
  }
  a:hover {
    color: $main_color;
  }

  #banner {
    background-color: $main_color;
    padding-top: 80px;
    color: $lgt_clr;

    img {
      display: inline-block;
    }

    h1 {
      font-size: 2em;
    }

    @media (min-width: 768px) {
      padding-top: 120px;

      h1 {
        font-size: 5em;
        font-weight: 600;
      }

      p {
        font-size: 1.5em;
      }
    }
  }

  hr {
    border: 2px solid #fff;
    border-radius: 2px; 
    width: 200px;
  }

  hr:after {
    font-family: FontAwesome;
    content: '\f005';
    font-size: 25px;
    position: relative;
    top: -17px;
    background-color: $main_color;
    padding: 0 3px;
  }

  #portfolio {
    padding: 50px 0;

    .row:first {
      color: $drk_clr; 
    }

    h1 {
      font-size: 2em;
      font-weight: 600;
      margin-top: 0;
    }

    @media (min-width: 768px) {
      h1 {
        font-size: 4em;
      }
    }

    hr {
      border: 2px solid $drk_clr;
    }

    hr:after {
      background-color: $lgt_clr; 
    }

    .gallery > div {
      margin-top: 15px;
      margin-bottom: 15px;

      a {
        max-width: 400px;
        position: relative;
        display: block;
        margin: 0 auto;

        .cover {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(24, 188, 156, 0.8);
          opacity: 0;
          //opacity: 1;

          .fixer {
            position: absolute;
            width: 100%;
            top: 50%;
            height: 20px;
            margin-top: -10px;
            //border: 1px solid black;

            .fa {
              margin-top: -10px;
              color: $lgt_clr;
              //border: 1px solid #fff;
            }
          }
        }
      }

      a:hover .cover {
        opacity: 1;
      }
    }
  }

  #about {
    background-color: $main_color;
    color: $lgt_clr;
    padding: 50px 0;

    h1 {
      font-size: 4em;
      font-weight: 600;
      margin-top: 0;
    }
    .contents {
      text-align: left;
      font-size: 18px;
    }

    .btn {
      background-color: $main_color;
      border: 2px solid $lgt_clr;
      font-size: 22px;
    }
    .btn:hover {
      background-color: $lgt_clr;  
      color: $main_color;
    }

    .btn:before {
      font-family: FontAwesome;
      content: '\f019';
      margin-right: 5px;
    }
  }

  #bottom {
    background-color: $drk_clr;
    color: $lgt_clr;
    padding: 50px 0;

    h1 {
      font-size: 1.6em;
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2em;
    }

    ul {
      list-style: none;
      margin-bottom: 20px;

      li {
        display: inline;

        span {
          display: inline-block;
          width: 50px;
          height: 50px;
          font-size: 25px;
          @include mx-bdr($lgt_clr, 2px);

          padding-top: 11px;
          @include mx-rds(50%);
        }

        a:hover span {
          background-color: $lgt_clr;
        }
      }
    }

    .author {
      color: $main_color;
    }
  }

  #footer {
    background-color: #000;
    color: $lgt_clr;
    padding: 20px;
  }
}
