
#single {
    position: absolute;
    width: 100%;
    height: 50%;
    
    background-color: blue;
}

@media (min-width: 500px) {
    #single {
        background-color: green;
    }
}

@media (min-width: 1000px) {
    #single {
        background-color: gray;
    }
}
