.grid-page {
	margin: 100px;

    .line {
    	font-size: 0px;
		letter-spacing: 0px;
		word-spacing: 0px;
    	border-top: 1px dotted gray;

        .cell {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-left: 1px solid green;
            margin: 0px;
            z-index: 1;
        }

        .cell:last-child {
            border-right: 1px solid green;
        }

        .bar {
        	position: absolute;
        	width: 120px;
        	height: 20px;
        	background-color: gray;
        	margin-top: -40px;
        	z-index: 10;
        	border-radius: 10px;
        }
    }
}

#trigger {
    width: 80px;
    height: 40px;
    background-color: gray;
    color: #fff;
    margin-left: 100px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

#triggee {
    width: 500px;
    height: 500px;
    background-color: #e3e8ee;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 100px;

    p {
        height: 100px;
    }
}

#ground {
    position: absolute;
    width: 700px;
    margin: 100px;
    span {
        position: absolute;
        display: block;
    }

    #top-bar {
        position: absolute;
        height: 50px;
        width: 700px;
        border: 2px solid blue;
        top: 10px;
    }
    #left-bar {
        position: absolute;
        width: 150px;
        height: 300px;
        overflow-y: hidden;
        border: 1px solid #000;
    }

    #main-table {
        position: absolute;
        left: 300px;
        width: 300px;
        height: 300px;
        overflow-y: auto;

        .inner {
            position: absolute;
            background-color: gray;
            width: 600px;
            height: 600px;
        }
    }

}
